		@import url('https://fonts.googleapis.com/css?family=Cedarville+Cursive');			
	body {
				background-color: #99ffff;
				margin-left: 5%;
				margin-right: 5%;
				border:5px dashed #000066;
				padding: 20px 20px 20px 20px;
				font-family:  sans-serif;
				color: #000066;
			}
	h1 {
	font-family:'Cedarville Cursive',cursive;
	}
		img.fun{
			filter: brightness; 
			-webkit-filter: brightness;
}
@keyframes 
		li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


li a:hover:not(.active) {
  background-color: #111;
}

a:active {
  background-color: #4CAF50;
}

a:visited {color: #AFEEEE;}

a:link {color: #00FFFF;}

table, th, td {
  border: 1px solid black;
}


img.image1{
	filter:url;
	-webkit-filter: url;
}

@keyframes hello{
	from {filter: invert(5%); }
	to {filter: invert(115%); }
}
@-webkit-keyframes hello{
	from {filter: invert(5%); }/{ width:20%;}
	to {filter: invert(115%); }/{ width: 100%;}
}

img.hello{
	animation: hello 5s infinite backwards;
	-webkit-animation: hello 5s infinite backwards;
	width: 40%:
}
